:root {
  --lightOrange: #ffab08;
  --orange: #ff7020;
  --black: #000000;
  --white: #ffffff;
  --silver: #f2f2f3;
  --hoverAddButton: #f86310;
  --hover: #ffab08;
  --lightColor: #b1b1b1;
}

[class*=__container] {
  max-width: 82.5rem;
  margin: 0 auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

body {
  font-family: "Nunito";
  font-weight: 400;
  font-style: normal;
  color: var(--black);
  background-color: var(--silver);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

@font-face {
  font-family: "fonts";
  src: url("../fonts/fonts.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=_icon-]::before,
[class*=" _icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "fonts" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-main-logo:before {
  content: "\e900";
}

._icon-cross:before {
  content: "\e901";
}

._icon-telegram:before {
  content: "\e902";
}

._icon-vk:before {
  content: "\e903";
}

._icon-tell:before {
  content: "\e904";
}

.hero__wrapper {
  position: relative;
  overflow: hidden;
}
.hero__wrapper::before {
  content: "";
  background-color: var(--lightOrange);
  width: 180rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -1;
}
@media (max-width: 47.99875em) {
  .hero__wrapper::before {
    width: 158.75rem;
  }
}
@media (max-width: 31.25em) {
  .hero__wrapper::before {
    width: 38.1875rem;
  }
}
.hero__container {
  padding-top: 1.5rem;
  padding-bottom: 3.9375rem;
}
@media (max-width: 47.99875em) {
  .hero__container {
    padding-top: 0.75rem;
    padding-bottom: 1.875rem;
  }
}
.hero__logo {
  margin-bottom: 3.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-column-gap: 0.4375rem;
     -moz-column-gap: 0.4375rem;
          column-gap: 0.4375rem;
  color: var(--white);
  font-size: 1.75rem;
  font-weight: 700;
}
@media (max-width: 47.99875em) {
  .hero__logo {
    margin-bottom: 1.375rem;
  }
}
.hero__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 2.3125rem;
     -moz-column-gap: 2.3125rem;
          column-gap: 2.3125rem;
}
@media (max-width: 47.99875em) {
  .hero__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 2.3125rem;
  }
}
.hero__image {
  aspect-ratio: 253/289;
}
.hero__image > img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 47.99875em) {
  .hero__image {
    max-width: 11rem;
  }
}
.hero__info {
  -ms-flex-preferred-size: 23.75rem;
      flex-basis: 23.75rem;
}
@media (max-width: 47.99875em) {
  .hero__info {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
}

.info-hero {
  padding: 1.25rem 0;
}
@media (max-width: 34.375em) {
  .info-hero {
    padding: 0;
  }
}
.info-hero__title {
  margin-bottom: 3.25rem;
  font-weight: 800;
  font-size: 3.125rem;
  line-height: 1.2;
  color: var(--white);
}
.info-hero__title > span {
  display: block;
  color: var(--orange);
}
@media (max-width: 47.99875em) {
  .info-hero__title {
    font-size: 2.25rem;
  }
}
@media (max-width: 34.375em) {
  .info-hero__title {
    font-size: 1.875rem;
    margin-bottom: 1rem;
    text-align: center;
  }
}
.info-hero__info-delivery {
  color: var(--white);
}
.info-hero__info-delivery > span {
  font-weight: 600;
}
@media (max-width: 47.99875em) {
  .info-hero__info-delivery {
    font-size: 0.75rem;
  }
}
@media (max-width: 34.375em) {
  .info-hero__info-delivery {
    text-align: center;
  }
}

.menu__container {
  padding-top: 2.5rem;
  padding-bottom: 3.125rem;
}
@media (max-width: 61.99875em) {
  .menu__container {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
  }
}
.menu__nav {
  overflow-x: scroll;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.5rem;
     -moz-column-gap: 1.5rem;
          column-gap: 1.5rem;
}
@media (max-width: 61.99875em) {
  .menu__list {
    -webkit-column-gap: 0.75rem;
       -moz-column-gap: 0.75rem;
            column-gap: 0.75rem;
  }
}
@media (max-width: 47.99875em) {
  .menu__list {
    -webkit-column-gap: 0.5rem;
       -moz-column-gap: 0.5rem;
            column-gap: 0.5rem;
  }
}
.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.5rem;
     -moz-column-gap: 0.5rem;
          column-gap: 0.5rem;
  cursor: pointer;
  background-color: var(--white);
  padding: 0.4375rem 1rem;
  border-radius: 1rem;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  white-space: nowrap;
}
.menu__item > img {
  width: 1.5rem;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 47.99875em) {
  .menu__item {
    font-size: 0.75rem;
  }
}
@media (any-hover: hover) {
  .menu__item:hover {
    background-color: var(--hover);
    -webkit-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
  }
}
.menu__item.active {
  background-color: var(--hover);
}

.product__container {
  padding-bottom: 6.25rem;
}
@media (max-width: 47.99875em) {
  .product__container {
    padding-bottom: 5rem;
  }
}
.product__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
}
@media (max-width: 61.99875em) {
  .product__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.product__basket {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 18.75rem;
          flex: 0 0 18.75rem;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  margin-top: 4.5rem;
  min-height: 3rem;
}
@media (max-width: 61.99875em) {
  .product__basket {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    margin-top: 0;
    margin-bottom: 1.875rem;
  }
}
@media (max-width: 34.375em) {
  .product__basket {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
@media (max-width: 61.99875em) {
  .basket-product {
    min-height: 3rem;
  }
}
.basket-product__wrapper {
  background-color: var(--white);
  padding: 1.5rem 1rem;
  border-radius: 1.125rem;
  overflow: hidden;
  position: relative;
  -webkit-transition: max-width 0.3s ease;
  transition: max-width 0.3s ease;
}
@media (max-width: 61.99875em) {
  .basket-product__wrapper {
    padding: 1rem 0.625rem;
    cursor: pointer;
    -webkit-transition: max-width 0.3s ease;
    transition: max-width 0.3s ease;
    margin-top: 0;
    max-width: 11.25rem;
  }
  .basket-product__wrapper.active {
    -webkit-transition: max-width 0.3s ease;
    transition: max-width 0.3s ease;
    max-width: 18.75rem;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1607843137);
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1607843137);
  }
}
@media (max-width: 61.99875em) and (max-width: 34.375em) {
  .basket-product__wrapper.active {
    max-width: none;
    width: 100%;
  }
}
@media (max-width: 34.375em) {
  .basket-product__wrapper {
    max-width: none;
  }
}
.basket-product__top {
  padding-bottom: 0.75rem;
}
@media (max-width: 61.99875em) {
  .basket-product__top {
    padding-bottom: 0rem;
  }
}
.basket-product__body {
  -webkit-transition: opacity max-height 0.3s ease;
  transition: opacity max-height 0.3s ease;
}
@media (max-width: 61.99875em) {
  .basket-product__body {
    max-height: 0;
    opacity: 0;
  }
  .basket-product__body.active {
    max-height: 6250rem;
    opacity: 1;
    -webkit-transition: opacity max-height 0.3s ease;
    transition: opacity max-height 0.3s ease;
  }
}
.basket-product__bottom {
  -webkit-transition: opacity max-height 0.3s ease;
  transition: opacity max-height 0.3s ease;
}
@media (max-width: 61.99875em) {
  .basket-product__bottom {
    max-height: 0;
    opacity: 0;
  }
  .basket-product__bottom.active {
    max-height: 6250rem;
    opacity: 1;
    -webkit-transition: opacity max-width 0.3s ease;
    transition: opacity max-width 0.3s ease;
  }
}

.top-basket-product {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1rem;
}
.top-basket-product__wrapper-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-column-gap: 0.75rem;
     -moz-column-gap: 0.75rem;
          column-gap: 0.75rem;
}
.top-basket-product__title {
  font-weight: 600;
  font-size: 1.5rem;
}
@media (max-width: 47.99875em) {
  .top-basket-product__title {
    font-size: 1rem;
  }
}
.top-basket-product__count {
  padding: 0.125rem 1rem;
  background-color: var(--silver);
  font-weight: 400;
  font-size: 0.75rem;
  border-radius: 0.375rem;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 47.99875em) {
  .top-basket-product__count {
    font-size: 0.625rem;
    padding: 0.0625rem 0.8125rem;
  }
}
.top-basket-product__border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.0625rem;
  background-color: var(--silver);
}
.top-basket-product__border.active {
  position: static;
  width: auto;
  height: auto;
  background-color: inherit;
}
@media (max-width: 61.99875em) {
  .top-basket-product__border {
    display: none;
  }
}

.body-basket-product__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.375rem;
     -moz-column-gap: 0.375rem;
          column-gap: 0.375rem;
  padding: 0.9375rem 0;
  position: relative;
}
@media (max-width: 47.99875em) {
  .body-basket-product__block {
    padding: 0.6875rem 0;
  }
}
.body-basket-product__block::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.0625rem;
  background-color: var(--silver);
}
.body-basket-product__image {
  border-radius: 0.5rem;
  overflow: hidden;
  max-width: 4rem;
}
.body-basket-product__image > img {
  width: 100%;
  aspect-ratio: 64/52;
  -o-object-fit: cover;
     object-fit: cover;
}
.body-basket-product__info {
  font-size: 0.75rem;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.0625rem;
}
.body-basket-product__info-title {
  margin-bottom: 0.0625rem;
}
.body-basket-product__info-weight {
  color: var(--lightColor);
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.body-basket-product__count {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--silver);
  border-radius: 0.75rem;
  padding: 0.5625rem 0rem;
}
@media (max-width: 47.99875em) {
  .body-basket-product__count {
    font-size: 0.75rem;
  }
}
.body-basket-product__count-minus {
  padding: 0 1.125rem 0 0.75rem;
  cursor: pointer;
}
@media (max-width: 47.99875em) {
  .body-basket-product__count-minus {
    padding: 0 1.1875rem 0 0.4375rem;
  }
}
.body-basket-product__count-plus {
  padding: 0 0.75rem 0 0.9375rem;
  cursor: pointer;
}
@media (max-width: 47.99875em) {
  .body-basket-product__count-plus {
    padding: 0 0.4375rem 0 1.0625rem;
  }
}

.bottom-basket-product__total {
  padding: 1rem 0 1.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 0.9375rem;
     -moz-column-gap: 0.9375rem;
          column-gap: 0.9375rem;
}
@media (max-width: 47.99875em) {
  .bottom-basket-product__total {
    font-size: 0.75rem;
    padding: 0.8125rem 0 1.1875rem 0;
  }
}
.bottom-basket-product__total-text {
  line-height: 1.3;
}
.bottom-basket-product__total-sum {
  line-height: 1.3;
}
.bottom-basket-product__button {
  margin-bottom: 0.5rem;
  color: var(--white);
  background-color: var(--orange);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.75rem;
  border-radius: 0.75rem;
  width: 100%;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
@media (any-hover: hover) {
  .bottom-basket-product__button:hover {
    background-color: var(--hoverAddButton);
    -webkit-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
  }
}
@media (max-width: 47.99875em) {
  .bottom-basket-product__button {
    font-size: 0.75rem;
    padding: 0.5625rem;
    border-radius: 0.5rem;
  }
}
.bottom-basket-product__delivery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.5rem;
     -moz-column-gap: 0.5rem;
          column-gap: 0.5rem;
}
.bottom-basket-product__delivery-image {
  max-width: 1.5rem;
}
.bottom-basket-product__delivery-image > img {
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}
.bottom-basket-product__delivery-text {
  font-size: 0.75rem;
}
@media (max-width: 47.99875em) {
  .bottom-basket-product__delivery-text {
    font-size: 0.625rem;
  }
}
.bottom-basket-product__delivery-close {
  display: none;
}
@media (max-width: 61.99875em) {
  .bottom-basket-product__delivery-close {
    display: block;
    margin-left: auto;
    color: var(--lightColor);
    font-size: 0.75rem;
  }
}
@media (max-width: 47.99875em) {
  .bottom-basket-product__delivery-close {
    font-size: 0.625rem;
  }
}

.main-product__title {
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
  line-height: 1.2;
}
.main-product__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.block-main-product {
  background-color: var(--white);
  border-radius: 1.125rem;
  overflow: hidden;
  padding: 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 15.625rem;
          flex: 1 1 15.625rem;
  max-width: 25rem;
  row-gap: 0.5rem;
}
.block-main-product__image {
  margin-bottom: 0.5rem;
  border-radius: 0.75rem;
  overflow: hidden;
}
.block-main-product__image > img {
  width: 100%;
  aspect-ratio: 276/220;
  -o-object-fit: cover;
     object-fit: cover;
}
.block-main-product__price {
  font-weight: 600;
  font-size: 1.5rem;
}
.block-main-product__info {
  line-height: 1.3;
}
.block-main-product__weight {
  margin-top: auto;
  color: var(--lightColor);
  font-weight: 600;
}
.block-main-product__button-add {
  padding: 0.75rem;
  background-color: var(--silver);
  border-radius: 0.75rem;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
@media (any-hover: hover) {
  .block-main-product__button-add:hover {
    background-color: var(--hoverAddButton);
    -webkit-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
  }
}

.footer {
  background-color: var(--white);
}
.footer__container {
  padding-top: 3.1875rem;
  padding-bottom: 2.5rem;
}
@media (max-width: 47.99875em) {
  .footer__container {
    padding-top: 2.5625rem;
    padding-bottom: 1.625rem;
  }
}
@media (max-width: 34.375em) {
  .footer__container {
    padding-top: 1.3125rem;
  }
}
.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 3.125rem;
     -moz-column-gap: 3.125rem;
          column-gap: 3.125rem;
}
.footer__logo {
  margin-bottom: 2.3125rem;
  color: var(--orange);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-column-gap: 0.875rem;
     -moz-column-gap: 0.875rem;
          column-gap: 0.875rem;
  font-size: 2.875rem;
  font-weight: 700;
}
.footer__logo::before {
  font-size: 3.4375rem;
}
@media (max-width: 47.99875em) {
  .footer__logo {
    margin-bottom: 2.0625rem;
  }
}
@media (max-width: 34.375em) {
  .footer__logo {
    margin-bottom: 1.3125rem;
    -webkit-column-gap: 0.5625rem;
       -moz-column-gap: 0.5625rem;
            column-gap: 0.5625rem;
    font-size: 2.0625rem;
  }
  .footer__logo::before {
    font-size: 2.6875rem;
  }
}
.footer__info {
  margin-bottom: 2.125rem;
}
@media (max-width: 47.99875em) {
  .footer__info {
    margin-bottom: 2.5rem;
  }
}
@media (max-width: 34.375em) {
  .footer__info {
    margin-bottom: 2.125rem;
  }
}
.footer__copyright {
  font-size: 0.75rem;
}
.footer__copyright-title {
  margin-bottom: 0.25rem;
}
.info-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 7.875rem;
     -moz-column-gap: 7.875rem;
          column-gap: 7.875rem;
}
@media (max-width: 47.99875em) {
  .info-footer {
    -webkit-column-gap: 11.0625rem;
       -moz-column-gap: 11.0625rem;
            column-gap: 11.0625rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 1.5rem;
  }
}
.info-footer__tell-text {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}
@media (max-width: 47.99875em) {
  .info-footer__tell-text {
    font-size: 1.125rem;
  }
}
@media (max-width: 34.375em) {
  .info-footer__tell-text {
    margin-bottom: 0.75rem;
  }
}
.info-footer__tell-link {
  font-size: 1rem;
  line-height: 1.3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.4375rem;
     -moz-column-gap: 0.4375rem;
          column-gap: 0.4375rem;
}
.info-footer__tell-link::before {
  font-size: 1.125rem;
}
@media (max-width: 47.99875em) {
  .info-footer__tell-link {
    font-size: 0.75rem;
  }
}
.info-footer__socials-text {
  margin-bottom: 1.375rem;
  font-size: 1.5rem;
}
@media (max-width: 47.99875em) {
  .info-footer__socials-text {
    font-size: 1.125rem;
  }
}
@media (max-width: 34.375em) {
  .info-footer__socials-text {
    margin-bottom: 0.5rem;
  }
}
.info-footer__socials-wrapper-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
}
.info-footer__socials-vk::before {
  font-size: 2.25rem;
  color: var(--orange);
}
.info-footer__socials-telegram::before {
  font-size: 2.25rem;
  color: var(--orange);
}