@font-face {
  font-family: "fonts";
  src: url("../fonts/fonts.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"]::before,
[class*=" _icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "fonts" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-main-logo:before {
  content: "\e900";
}
._icon-cross:before {
  content: "\e901";
}
._icon-telegram:before {
  content: "\e902";
}
._icon-vk:before {
  content: "\e903";
}
._icon-tell:before {
  content: "\e904";
}
